<form method="post" action="/oauth/token/display">
  <input type="hidden" name="code" value="sha256~code1">
  <input type="hidden" name="csrf" value="csrf1">
  <button type="submit">
    Display Token
  </button>
</form>
